@font-face {
  font-family: Merriweather;
  src: url("./assets/fonts/Merriweather-Bold.ttf");
}

@font-face {
  font-family: 'Inter';
  src: url("./assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url("./assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

:root {
  --bg-dark: #000000;
  --back-body: #1C202B;
  --back-dark: #171A23;
  --bg-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  font-family: Merriweather;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 50rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.2rem solid var(--bg-dark);
}

.slides {
  display: flex;
  max-width: 48.09rem;
  overflow: hidden;
}

.one-active:checked~.slides .first {
  margin-left: 0;
}

.two-active:checked~.slides .first {
  margin-left: -100%;
}

.three-active:checked~.slides .first {
  margin-left: -200%;
}

.four-active:checked~.slides .first {
  margin-left: -300%;
}

.five-active:checked~.slides .first {
  margin-left: -400%;
}

.six-active:checked~.slides .first {
  margin-left: -500%;
}

.seven-active:checked~.slides .first {
  margin-left: -600%;
}